<template>
  <div class="popover" v-if="selected">
    <div class="content">
      <button class="close" @click="closeWindow"><Fa fa="close" /></button>
      <VueAgile
        :navButtons="true"
        :centerMode="true"
        :slidesToShow="1"
        :dots="true"
        :infinite="false"
        class="imgs"
      >
        <template v-for="media in selected.media">
          <iframe
            v-if="media.type === 'video'"
            :key="media.url"
            :src="media.url"
            frameborder="0"
            :height="'85%'"
            width="100%"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="slide"
          ></iframe>
          <img
            v-else-if="media.type === 'image'"
            :key="media.img"
            :src="media.img"
            alt=""
            class="slide"
          />
        </template>
      </VueAgile>
      <div class="info">
        <h3>{{ selected.title }}</h3>
        <div class="tags">
          <span v-for="tag in selected.tags" :key="tag">{{ tag }}</span>
        </div>
        <div class="tags links">
          <a :href="selected.demo" v-if="selected.demo && selected.demo.length > 0">Demo</a>
          <a :href="selected.source" v-if="selected.source && selected.source.length > 0">Source</a>
        </div>
        <div class="description"></div>
      </div>
    </div>
    <div class="background" @click="closeWindow"></div>
  </div>
</template>

<script>
import Fa from './globals/Fa.vue';
import { VueAgile } from 'vue-agile';

export default {
  components: {
    Fa,
    VueAgile,
  },
  props: {
    selected: Object,
    closeWindow: Function,
  },
};
</script>

<style lang="scss" scoped>
.agile img {
  max-height: 90%;
  object-fit: scale-down;
}
// .agile {
//   button {
//     background: #484848;
//     border: 0;
//     padding: 11px;
//     margin: 0px;
//     box-shadow: 0px 0px 0px 6px #1d1e21 inset;
//     border-radius: 100px;
//   }
// }

.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}
.agile__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.agile__nav-button--prev {
  left: 0;
}
.agile__nav-button--next {
  right: 0;
}

.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
  height: 85%
}

.popover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow: auto;
  top: 0;
  display: flex;
  .background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    backdrop-filter: blur(10px);
  }

  .content{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: auto;
    width: -webkit-fill-available;
    position: relative;
    max-width: 800px;
  }

  @media (max-width: 768px) {
      .content {
          width: 80%; /* Increase width on smaller screens */
          padding: 10px; /* Adjust padding as needed for smaller screens */
      }
  }

  @media (max-width: 480px) {
      .content {
          width: 90%; /* Further increase width for very small screens */
          padding: 5px; /* Further adjust padding for very small screens */
      }
  }

  .info {
    padding: 0 1.3rem 2rem 1.3rem;
    margin-top: 10px;
    h3 {
      grid-area: txt;
      font-weight: 500;
      color: white;
      font-size: 1.7rem;
      line-height: 1.4;
      margin-bottom: 0rem;
      margin-top: 0;
    }

    .tags {
      display: flex;
      gap: 0.7rem;
      font-weight: 500;
      font-size: 0.8rem;
      color: skyblue;
    }
    .tags.links {
      a {
        color: lightgoldenrodyellow;
        text-decoration: underline;
        margin-top: 0.6rem;
      }
    }
  }
  .info > span {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--txt-med);
  }
  .screenshots {
    padding: 1.3rem;
    img {
      max-height: 400px;
      max-width: 100%;
      margin: auto;
    }
  }
  .close {
    background: transparent;
    border: 0;
    color: white;
    margin-right: 15px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 100;
  }
}
</style>
