<template>
  <vue-p5 @sketch="sketch"> </vue-p5>
</template>

<script>
import VueP5 from 'vue-p5';

export default {
  components: {
    VueP5,
  },
  methods: {
    sketch(sk) {
      let colors = ['#a1c4fd', '#c3e0e5', '#fddde6', '#d4fc79', '#b0f3f1'];
      let alphaValue = 100;  // Transparency for the bubble fill
      let outlineAlpha = 100;  // Transparency for the bubble outline

      // Define your gradient colors
      let topColor = sk.color('#2c3e50');  // Light color at the top
      let bottomColor = sk.color('#34495e');  // Darker color at the bottom


      class Mover {
        constructor(x, y, m) {
          this.pos = sk.createVector(x, y);
          this.vel = sk.constructor.Vector.random2D();
          this.vel.mult(5);
          this.acc = sk.createVector(0, 0);
          this.mass = m;
          this.r = sk.sqrt(this.mass * 2);
          this.color = sk.color(sk.random(colors));
        }

        applyForce(force) {
          let f = sk.constructor.Vector.div(force, this.mass);
          this.acc.add(f);
        }

        update() {
          this.vel.add(this.acc);
          this.pos.add(this.vel);
          this.acc.set(0, 0);
        }

        show() {
          // sk.fill('#7c7474');
          // sk.ellipse(this.pos.x, this.pos.y, this.r * 2);
          // Bubble-like fill with transparency
          this.color.setAlpha(alphaValue);  // Set fill transparency
          sk.fill(this.color);  // Fill shape with semi-transparent color
          sk.stroke(255, 255, 255, outlineAlpha);  // White outline with transparency

          // Draw the main bubble
          sk.ellipse(this.pos.x, this.pos.y, this.r * 2);

          // Create a reflection highlight (smaller, white ellipse)
          sk.noStroke();  // No stroke for the highlight
          sk.fill(255, 255, 255, 150);  // Semi-transparent white for the reflection
          sk.ellipse(this.pos.x - this.r / 2, this.pos.y - this.r / 2, this.r / 2, this.r / 2);  // Smaller ellipse for reflection

          // Optional: Add a gradient effect
          let gradientColor = sk.lerpColor(this.color, sk.color(255, 255, 255), 0.2);  // Create a gradient between bubble color and white
          gradientColor.setAlpha(alphaValue / 2);  // Semi-transparent gradient
          sk.fill(gradientColor);  // Use gradient color
          sk.ellipse(this.pos.x, this.pos.y, this.r * 1.5);  // Draw smaller gradient circle inside
        }
      }
      class Attractor {
        constructor(x, y, m) {
          this.pos = sk.createVector(x, y);
          this.mass = m;
          this.r = sk.sqrt(this.mass) * 2;
          this.color = sk.color(sk.random(colors));
        }

        attract(mover) {
          let force = sk.constructor.Vector.sub(this.pos, mover.pos);
          let distanceSq = sk.constrain(force.magSq(), 100, 1000);
          let G = 10;
          let strength = (G * (this.mass * mover.mass)) / distanceSq;
          force.setMag(strength * 0.01);
          mover.applyForce(force);
        }

        show() {
          sk.noStroke();
          // sk.fill('#cfdef3');
          // sk.ellipse(this.pos.x, this.pos.y, this.r * 2);
          this.color.setAlpha(alphaValue);  // Set fill transparency
          sk.fill(this.color);  // Fill shape with semi-transparent color
          sk.stroke(255, 255, 255, outlineAlpha);  // White outline with transparency

          // Draw the main bubble
          sk.ellipse(this.pos.x, this.pos.y, this.r * 2);

          // Create a reflection highlight (smaller, white ellipse)
          sk.noStroke();  // No stroke for the highlight
          sk.fill(255, 255, 255, 150);  // Semi-transparent white for the reflection
          sk.ellipse(this.pos.x - this.r / 2, this.pos.y - this.r / 2, this.r / 2, this.r / 2);  // Smaller ellipse for reflection

          // Optional: Add a gradient effect
          let gradientColor = sk.lerpColor(this.color, sk.color(255, 255, 255), 0.2);  // Create a gradient between bubble color and white
          gradientColor.setAlpha(alphaValue / 2);  // Semi-transparent gradient
          sk.fill(gradientColor);  // Use gradient color
          sk.ellipse(this.pos.x, this.pos.y, this.r * 1.5);  // Draw smaller gradient circle inside
        }
      }
      let movers = [];
      let attractors = [];
      const width = document.body.clientWidth;
      const height = window.innerHeight;

      sk.setup = () => {
        sk.createCanvas(width, height);
        for (let i = 0; i < 8; i++) {
          let x = sk.random(width);
          let y = sk.random(height);
          let m = sk.random(150, 350);
          movers.push(new Mover(x, y, m));
          if (i < 3) {
            attractors.push(
              new Attractor(
                sk.random(height),
                sk.random(height),
                sk.random(150, 350)
              )
            );
          }
        }
      };
      // Manually create a vertical gradient for the background
      function drawGradient() {
        for (let y = 0; y < height; y++) {
          let inter = sk.map(y, 0, height, 0, 1);  // Interpolation factor (0 at top, 1 at bottom)
          let c = sk.lerpColor(topColor, bottomColor, inter);  // Calculate the interpolated color
          sk.stroke(c);
          sk.line(0, y, width, y);  // Draw horizontal lines with the interpolated color
        }
      }

      sk.draw = () => {
        //sk.background('#b4acac');
        drawGradient();  // Draw the gradient background
        for (let mover of movers) {
          mover.update();
          mover.show();
          for (const attractor of attractors) {
            attractor.attract(mover);
          }
        }
        for (const attractor of attractors) {
          attractor.show();
        }
      };
      sk.windowResized = () => {
        sk.resizeCanvas(document.body.clientWidth, window.innerHeight);
      };
      sk.mouseClicked = () => {
        movers.push(new Mover(sk.mouseX, sk.mouseY, sk.random(150, 350)));
        if (movers.length > 13) {
          movers.shift();
        }
      };
      sk.keyPressed = (e) => {
        if (e.key !== 'a') return;
        attractors.push(
          new Attractor(sk.mouseX, sk.mouseY, sk.random(150, 350))
        );
      };
    },
  },
};
</script>

<style lang="scss" scoped></style>
